/* CSS Document */
body, div, span, h1, h2, h3, h4, h5, h6,.user-info .designattion, .btn-light, .user-info .user-name{
	color: #04060a	;
	font-family: 'Rubik', sans-serif;
}
label {
	color: #04060a;
}
.logo-icon{
	width: 130px
}
.sidebar-header{
	background-color: #fff
}
.fw-600{
	font-weight: 600;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #4b5663 !important;
	opacity: 1; /* Firefox */
}
.border{
	border: 1px solid rgb(0 0 0 / 15%)!important;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #4b5663 !important;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color: #4b5663 !important;
}
.page-content{
	min-height: 90vh;
}
.bg-banner-10{
	background-image: url("../banner/banner-1.jpg");
	background-size: cover;
	background-position: center;
}
.bg-banner-11{
	background-image: url("../banner/banner-2.jpg");
	background-size: cover;
	background-position: center;
}
.bg-banner-12{
	background-image: url("../banner/banner-3.jpg");
	background-size: cover;
	background-position: center;
}
.bg-banner-13{
	background-image: url("../banner/banner-4.jpg");
	background-size: cover;
	background-position: center;
}
.bg-banner-14{
	background-image: url("../banner/banner-5.jpg");
	background-size: cover;
	background-position: center;
}
.login-banner{
	background-image: url("../images/login-banner-1.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.form-control{
	/* -webkit-appearance: none; */
	appearance: none;
	background-clip: padding-box;
	background-color: #f2f2f2;
	border: 0 solid #d1d5db;
	border-radius: 4px;

	color: #111927;
	display: block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	padding: .5rem 1rem;
	width: 100%;
}
input.form-control,textarea.form-control{
    border: 2px solid transparent;
    margin-bottom: 10px;
}
.input-group input.form-control{
    margin-bottom: 0;
}
.input-group{
    margin-bottom: 10px;
}
.form-control:focus{
    color: #000;
    background-color: rgb(255 255 255 / 0%);
    border: 2px solid rgba(160, 160, 160, 0.85);
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}
.sidebar-wrapper{

    background-color: rgba(255, 255, 255, 0.75);

    border: 1px solid rgba(209, 213, 219, 0.3);
}
.card, .dropdown-menu{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    border: 1px solid rgba(209, 213, 219, 0.3);
	box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}
.dropdown-menu{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #f2f4f6;
	color: #04060a !important;
    border-radius: 8px;
    border: 1px solid rgba(209, 213, 219, 0.3);
	box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}
.dropdown-item{
	color: #04060a !important;
}
.topbar{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75) !important;

    border: 1px solid rgba(209, 213, 219, 0.3);
}
.topbar .navbar .navbar-nav .nav-link{
	display: none;
}
.mx-input-300{
	max-width: 300px;
}
.logo-text, .search-bar {
	display: none;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.form-check-input:checked {
    background-color: #407403;
    border-color: #224d89;
}
.sidebar-wrapper .metismenu .mm-active>a, .sidebar-wrapper .metismenu a:active, .sidebar-wrapper .metismenu a:focus, .sidebar-wrapper .metismenu a:hover{
	background-color: rgba(125,211,33,0.2);
	border-radius: 5px;
	box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.btn {
	padding: 4px 16px;
	box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.btn-success{
    background-color: #3f7100;
    border-color: #3f7100;
}
table, th, tr, td{
 color: #04060a !important;
}
.form-select{
	background-color: #fff !important;
	color: #04060a !important;
	border: 1px solid #4b5663 !important;
}
th{
	font-weight: 600 !important;
}
table tr:nth-child(n+1){
	background-color: #f9f9f9;
}
table tr:nth-child(n+2){
	background-color: #fff;
}
.page-item.disabled .page-link{
	color: #04060a;
}
.page-item.active .page-link{
	color: #04060a;
}
.mini-design{
    background-image: none;
    background-color: #f2f5f7;
}


.page-footer {
    background: rgb(171 171 171 / 20%);
    color: #000;
}
.simplebar-content-wrapper{
    background-color: #f2f2f2;
}
.input-group-text{
    color: #000;
}
table.dataTable td, table.dataTable th{
    padding: 8px;
}
.dataTables_length, div.dataTables_wrapper div.dataTables_filter,.dt-buttons.btn-group  {
    display: inline-block;
    max-width: 400px;
    margin-bottom: 15px;
    margin-top: 5px;
}
div.dataTables_wrapper div.dataTables_filter{
    float: right;
}
.dataTables_length{
    margin-right: 15px;
}
.dt-buttons.btn-group .btn-success{
    background-color: #3f7100;
    color: #fff !important;
}
.dt-buttons.btn-group .btn-success span{
    margin-right: 5px;
    color: #fff;
}
.dropdown-item.active, .dropdown-item:active,.dropdown-item:hover{
    background-color: #7dd321;
}
.dataTables_wrapper .btn{
    padding: 6px 15px;
    font-size: 14px;
}
.dataTables_wrapper table .btn{
    padding: 2px 15px;
}
.dataTables_wrapper .dt-buttons.btn-group{
    margin-top: 10px;
}
.dataTables_wrapper .btn-table{
    background-color: #eaf0f8;
    box-shadow: none;
}
table.dataTable  th{
    background-color: rgba(125,211,33,.1);
}
table.dataTable thead th{
    border-bottom: 1px solid #323232;
}table.dataTable tfoot th{
     border-top: 1px solid #323232;
 }
.form-label{
margin-bottom: 4px;
}
.btn-info{
    color: #fff !important;
}
.top-head-pills{
    box-shadow: none;
    background-color: transparent;
}
.top-head-pills .nav-link{
    font-size: 14px;
    padding: 6px 18px;
    border: 2px solid #fff;
    background-color: rgba(125,211,33,.1);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #3f7100;
    color: #fff;
    border-radius: 8px;
}
.card{
    box-shadow:0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1);
    border-radius: 6px;
}
/*.card-body{*/
/*    padding: 10px;*/
/*}*/

.badge{
    color: #323232;
    font-weight: normal;
    font-size: 12px;
}
.bg-info{
    color: #fff;

}
.fixed {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}
.sticky.fixed{
    z-index: 99999999999999;
    display: block;
    background-color: #fff;
    border: 2px solid #f5f5f5;
}
.head-card{
    /* z-index: 9999999999999999999; */
}
